
/* <------------------- General Section Settings -------------------> */

.sectionContainer {
    min-height: 100vh;
    background-color: rgb(224, 224, 224);
    background-image: url('./images/first-background.jpg');
    background-repeat: no-repeat;
    background-position: center left 25%;
    background-size: cover;
}

.filter {
    min-height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerBody {
    padding: 23vh 25px;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    justify-items: end;
}


/* <------------------- Section Text part -------------------> */

.textBlock {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 18px;
}

.titleBig {
    font-size: 35px;
    font-weight: bold;
}

.titleSmall {
    display: none;
}

.orangeTitleText {
    color: rgb(250, 90, 10);
}

.descriptionList {
    font-size: 20px;
    font-weight: 300;
    max-width: 600px;
    padding: 20px;
    line-height: 1.5;
}

.boldText {
    font-weight: bold;
}


/* <------------------- Regulate the responsive behaviour -------------------> */

@media screen and (max-width: 980px) {

    .sectionContainer {
        background-color: black;
        background-position: 30% 0%;
        background-size: 130%;
    }

    .filter {
        align-items: flex-start;
    }

    .innerBody {
        padding: 8vh 20px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }

    .textBlock {
        align-items: center;
        row-gap: 200px;
    }

    .titleBig {
        display: none;
    }
    
    .titleSmall {
        display: block;
        line-height: 40px;
        font-size: 34px;
        font-weight: bold;
        text-align: center;
    }

    .whiteTitleText {
        font-size: 22px;
        font-weight: bold;
    }

    .description {
        font-size: 15px;
    }
}