.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modalActive {
    opacity: 1;
    pointer-events: all;
    z-index: 20;
}

.closeBtn {
    position: fixed;
    top: 7px;
    right: 7px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30%;
    background-color: rgb(150, 150, 150);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    transition: all 0.2s;
    cursor: pointer;
}

.closeBtn:hover {
    background-color: rgb(250, 90, 10);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.xLogo {
    width: 100%;
    height: 100%;
}

.modalContent {
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    opacity: 0;
    transition: 0.3s all;
}

.scrollable {
    max-width: 90%;
    max-height: 80%;
    overflow-y: scroll;
}

.modalContentActive {
    transform: scale(1);
    opacity: 1;
}