
/* <------------------- General Section Settings -------------------> */

.sectionContainer {
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 120px;
    align-items: center;
    padding: 120px 0;
}


/* <------------------- Section Title part -------------------> */

.sectionTitle {
    text-align: center;
    width: 80%;
    max-width: 950px;
    font-size: 40px;
    font-weight: bold;
}


/* <------------------- Quiz part -------------------> */

.quizBlock {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}


/* <------------------- About Us part -------------------> */

.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    max-width: 1400px;   
    row-gap: 80px;
    text-align: center;
    padding: 0 20px;
}

.aboutUsTitle {
    font-size: 40px;
    font-weight: bold;
}

.aboutUsValues {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    column-gap: 30px;
    row-gap: 50px;
}

.aboutUsValue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    row-gap: 20px;
    max-width: 260px;
}

.valueSymbol {
    width: 60px;
}

.valueDesc {
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
}


/* <------------------- Mortage calculator part -------------------> */

.calculatorBlock {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    width: 100%;
    max-width: 1140px;
    margin-top: 50px;
    padding: 0 20px;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("./images/third-background.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 20px;
}

.bgTitle {
    font-size: 22px;
    font-weight: 500;
}

.bgText {
    font-weight: 300;
}

.learnMoreBtn {
    align-self: center;
    width: 300px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid rgba(250, 90, 10, 0.5);
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.4);
    color: black;
    opacity: 0.9;
    transition: all 0.2s;
    cursor: pointer;
}

.learnMoreBtn:hover {
    opacity: 1;
    border: 2px solid rgb(250, 90, 10);
    background-color: rgba(250, 90, 10, 0.8);
}


/* <------------------- Regulate the responsive behavior -------------------> */

@media screen and (max-width: 980px) {

    .sectionContainer {
        row-gap: 80px;
        padding: 100px 0;
    }

    .sectionTitle {
        font-size: 30px;
    }

    .aboutUs {
        max-width: 730px;
    }

    .aboutUsTitle {
        font-size: 30px;
    }
    
    .valueDesc {
        font-size: 16px;
    }

    .calculatorBlock {
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }

    .background {
        background-position: center;
        width: 100%;
        max-width: 640px;
        height: 500px;
    }

    .learnMoreBtn {
        width: 260px;
        padding: 10px;
        background-color: hsla(0, 0%, 100%, 0.9);
    }
    
    .learnMoreBtn:hover {
        background-color: rgb(250, 90, 10);
    }

}

@media screen and (max-width: 640px) {

    .aboutUsValues {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 30px;
    }

    .valueSymbol {
        width: 40px;
    }

}