.navbar {    
    position: absolute;
    justify-self: center;
    width: 100%;
    user-select: none;
}

.navbarItems {
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    z-index: 4;
}

.navbarLogo {
    height: 80px;
    width: 91px;
    position: relative;
    cursor: pointer;
    margin-right: 30px;
}

.logoImg {
    display: block;
    position: absolute;
    width: auto;
    height: 100%;
}

.menuIcon {
    display: none;   
}

.navbarMenu {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
    width: 76vw;
    max-width: 940px;
    justify-content: flex-start;
}

.navbarMenuActive {
    display: none;
}

.navbarLinks {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
}

.navbarLinks:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
    border-radius: 8px;
    color: rgb(250, 90, 10);
    
    cursor: pointer;
}

.socialLogos {
    display: flex;
    height: 40px;
    column-gap: 10px;
    padding-right: 10px;
}

.socialLogosActive {
    display: none;
}

.gitLogo, .linkedinLogo {
    width: 40px;
    transition: all 0.2s ease;
    border-radius: 50%;
    cursor: pointer;
}

.gitLogo:hover, .linkedinLogo:hover {
    box-shadow: 0px 0px 20px rgba(290, 90, 10, 0.9);
}

@media screen and (max-width: 980px) {

    .navbar {    
        position: static;
        transition: all 1s;
    }

    .navbarItems {
        height: 60px;
        background-color: rgb(26, 26, 26);
    }

    .navbarMenu, .socialLogos {
        display: none;
    }

    .navbarMenuActive {
        padding: 10px 0 0 0;
        list-style: none;
        display: table;
        flex-direction: column;
        width: 100%;
        font-size: 1.2rem;
        animation: slide ease-in-out 0.8s;
    }

    @keyframes slide {
        
        0% {
            transform: translateY(-100%);
            background: transparent;
            opacity: 0;
        }

        10% {
            opacity: 0;
        }

        98% {
            background: transparent;
        }

        100% {
            transform: translateY(0%);
            background: rgb(224, 224, 224);
            opacity: 1;
        }
    }

    .navbarLinks {
        text-align: center;
        padding: 1rem 0;
        width: 100%;
        display: table;
        color: rgb(26, 26, 26);
    }

    .navbarLinks:hover {
        background-color: transparent;
        border-radius: 0;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    .navbarLogo {
        height: 60px;
        position: absolute;
        left: 0px;
    }

    .menuIcon {
        display: block;
        position: absolute;
        top: -12px;
        right: 0;
        transform: translate(-100%, 50%);
        cursor: pointer;
    }

    .hamburgerIcon, .xIcon {
        width: 40px;
    }

    .socialLogosActive {
        display: flex;
        padding: 2rem;
        column-gap: 10px;
        justify-content: center;
        animation: appear ease-in-out 1s
    }

    .gitLogo:hover, .linkedinLogo:hover {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }

    @keyframes appear {
        
        0% {
            background: transparent;
            opacity: 0;
        }

        100% {
            background: rgb(224, 224, 224);
            opacity: 1;
        }
    }
}