/* <--------------------------- Wheel ---------------------------> */

.componentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 25px 50px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    width: 85vw;
    max-width: 950px;
}

.dealWheel {
    --size: clamp(250px, 80vmin, 450px);
    --lg: linear-gradient(black 50%, rgb(110, 110, 110) 50%);
    position: relative;
    display: grid;
    align-items: center;
    grid-template-areas:
        "spinner"
        "trigger"
    ;
    font-size: calc(var(--size) / 35);
    height: var(--size);
}

.dealWheel>* {
    grid-area: spinner;
}

.dealWheel .spinBtn {
    grid-area: trigger;
    justify-self: center;
}

.spinner {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-areas: "spinner";
    padding: 0;
    width: var(--size);
    height: var(--size);
    transform: rotate(calc(var(--rotate, 30) * 1deg));
    border-radius: 50%;
    border: 5px solid silver;
}

.spinner * {
    grid-area: spinner;
}

.prize {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 calc(var(--size) / 6) 0 calc(var(--size) / 20);
    width: 50%;
    height: 50%;
    transform-origin: center right;
    transform: rotate(var(--rotate));
    user-select: none;
    border-right: 1px solid silver;
}

.ticker {
    position: absolute;
    left: calc(var(--size) / -15);
    width: calc(var(--size) / 10);
    height: calc(var(--size) / 20);
    clip-path: polygon(20% 0, 100% 50%, 20% 100%, 0% 50%);
    background: var(--lg);
    z-index: 1;
}

.isSpinning .spinner {
    transition: transform 8s cubic-bezier(0.1, -0.01, 0, 1);
}

.isSpinning .ticker {
    animation: tick 700ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes tick {
    40% {
        transform: rotate(-12deg);
    }
}

.prize.selected .text {
    color: white;
    animation: selected 800ms ease;
}

@keyframes selected {
    25% {
        transform: scale(1.25);
        text-shadow: 1vmin 1vmin 0 rgba(0, 0, 0, 0.1);
    }

    40% {
        transform: scale(0.92);
        text-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    }

    60% {
        transform: scale(1.02);
        text-shadow: 0.5vmin 0.5vmin 0 rgba(0, 0, 0, 0.1);
    }

    75% {
        transform: scale(0.98);
    }

    85% {
        transform: scale(1);
    }
}


/* <--------------------------- Form ---------------------------> */

.description {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    max-width: 370px;
    padding: 20px;
}

.successMessage, .errorMessage {
    text-align: center;
    font-weight: 300;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.successMessage {
    background: rgb(175, 255, 175);
}

.errorMessage {
    background: rgb(255, 175, 175);
}

.title {
    font-size: 26px;
    font-weight: bold;
}

.promotion {
    display: flex;
    flex-direction: column;
    color: rgb(250, 90, 10);
    margin: 10px 0;
}

.spinBtn {
    color: white;
    background-color: rgb(250, 90, 10);
    border: none;
    font-size: 18px;
    padding: 18px;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
    cursor: pointer;
}

.spinBtn:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.spinBtn:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}

.spinBtn:disabled {
    cursor: not-allowed;
    opacity: 0.25;
}

.agreeCheck {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    font-weight: 300;
}

.privacyPolicy {
    text-decoration: underline;
    color: rgb(0, 0, 200);
    cursor: pointer;
}


/* <--------------------------- Handle Responsive Behavior ---------------------------> */
/* @media (orientation: landscape) {} */
@media screen and (max-width: 1170px) {

    .componentContainer {
        max-width: 550px;
        flex-direction: column;
        padding: 20px 0;
    }

    .dealWheel {
        --size: clamp(250px, 70vmin, 450px);
    }

    .promotion {
        margin: 5px 0;
    }

    .spinBtn {
        padding: 14px;
    }

}

@media screen and (max-width: 640px) {
    
    .description {
        row-gap: 15px;
    }

    .title {
        font-size: 22px;
    }
    
}

@media screen and (max-width: 380px) {

    .componentContainer {
        padding: 10px;
    }
    
    .description {
        row-gap: 6px;
        padding: 5px 10px;
    }

    .messageSent {
        font-size: 13px;
        padding: 6px;
    }
    
    .title {
        font-size: 20px;
    }    

    .promotion {
        font-size: 14px;
        margin: 0;
    }

    .spinBtn {
        font-size: 14px;
        padding: 12px;
    }

    .agreeCheck {
        font-size: 14px;
    }
    
}