.progressBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(203, 203, 203);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.progress {
    height: 5px;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    width: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}