
/* <------------------------ General Settings ------------------------> */

* {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background: rgb(224, 224, 224);
  min-height: 100vh;
}


/* <------------------------ Various Common Inputs Settings ------------------------> */

.form-control {
  width: 100%;
  transition: all 0.2s;
}

.form-control:focus {
  outline: 0;
  background-color: white;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;

  font: inherit;
  color: rgba(20, 224, 30, 0.822);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid rgba(20, 224, 30, 0.822);
  border-radius: 0.15em;
  display: grid;
  place-content: center;
  opacity: 0.5;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: center;
  transition: 120ms transform ease-in-out;
  background-color: rgba(20, 224, 30, 0.822);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:checked {
  opacity: 1;
}